html,body{
  margin: 0;
  min-height: 100%;
}
img{
  width: 350px;
  height: auto;
  border-radius: 20px;
}

/*\\\\\ CSS de la barre en haut de la page d'accueil \\\\\*/
  #logo{
    max-height: 150px;
    width: auto;
    margin-left: 2vh;
    margin-top: 4vh;
    vertical-align: middle;
  }
  .icon{
    max-height: 80px;
    width: auto;
    margin-left: 5vh;
    margin-top: 0vh;
    vertical-align: middle;
  } 
    
  #barre {
    height: 25vh;
    min-height: 28vh;
    display: inline-block;
    width: 100%;
    background-color: grey;
    background-image: url("Images/backgroundBarre.jpg");
    top: 50px;
  }
  #bb_top {
    width: 97%;
    margin: auto;
    margin-top: 1.0vh;
  }
  #bb_bottom {
    width: 97%;
    margin-left: 3vh;
    margin-top: 2.5vh;
    margin-bottom: 0vh;
  }

  #recherche{
    width: 65%;
    border-radius: 20px;
    background-color: white;
    color: black;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    margin-top: 0vh;
    margin-left: 5vh;
  }

  .utextlink{
    color: white;
    font-weight: bold;
  }
  .textlink{
    color: white;
    margin-left: 13%;
    font-weight: bold;
    font-size: 20px;
  }
/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/


/*\\\\\ CSS du panneau déroulant \\\\\*/
.profil{
  display: inline-block;
  width: auto;
  height: auto;
  position: relative;
  top: -40px;
}
.navbar {
  position: absolute;
  padding: 0;
  margin: 0;
}
.navbar li {
  height: auto;
  width: 135.8px;
  float: left;
  text-align: center;
  list-style: none;
  font: normal bold 13px/1em Arial, Verdana, Helvetica;
  padding: 0;
  margin: 0;
}
.navbar a {
  padding: 18px 0;
  color: white;
  display: block;
}
.navbar li:hover, a:hover {
  background-color: #444444;
}
.navbar li ul {
  display: none;
  height: auto;
  margin: 0;
  padding: 0;
}
.navbar li:hover ul {
  display: block;
}
.navbar li ul li {
  background-color: #444444;
}
.navbar li ul li a {
  border-left: 1px solid #444444;
  border-right: 1px solid #444444;
  border-top: 1px solid #c9d4d8;
  border-bottom: 1px solid #444444;
}
.navbar li ul li a:hover {
  background-color: #a3a1a1;
}
/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/


/*\\\\\ CSS du corps de la page d'accueil \\\\\*/
.corps{
  background-image: url("Images/backgroundBody.jpg");
  background-size: cover;
  display: inline-block;
  min-width: 100%;
  margin: 0 auto -10px;
}

.recette_du_jour{
  float:left;
  width: 50%;
}
.recette_du_jour .affichage{
  width: 400px;
  height: 300px;
  border: 5px solid #888888;
  background-color: #999999;
  border-radius: 15px;
  margin: 5vh;
  opacity: 0.9;
  text-align: center;
}

.recette_du_moment{
  float: left;
}
.recette_du_moment .affichage{
  width: 700px;
  height: 700px;
  border: 5px solid #888888;
  background-color: #999999;
  border-radius: 15px;
  margin: 5vh;
  opacity: 0.95;
  text-align: center;
}
.recette_du_moment .image{
  width: 600px;
  height: auto;
  margin-bottom: 2vh;
}
/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/

footer {
  height: 30px;
  background-image: url("Images/backgroundBarre.jpg");
}