html,body{
  margin: 0;
  min-height: 100%;
}

/*\\\\\ CSS du header / de la barre en haut de la page d'accueil \\\\\*/
  #logo{
    max-height: 150px;
    width: auto;
    margin-left: 2vh;
    margin-top: 4vh;
    vertical-align: middle;
  }
  .icon{
    max-height: 80px;
    width: auto;
    margin-left: 5vh;
    margin-top: 0vh;
    vertical-align: middle;
  }
  .image_profil{
    border-radius: 50%;
    height: 80px;
    width: 80px;
    margin-left: 5vh;
    margin-top: 0vh;
    vertical-align: middle;
  }
    
  header{
    height: 25vh;
    min-height: 28vh;
    display: inline-block;
    width: 100%;
    background-color: grey;
    background-image: url("../Images/backgroundBarre.jpg");
    top: 50px;
  }
  
  /* CSS des barres blanches */
  #bb_top {
    width: 97%;
    margin: auto;
    margin-top: 1.0vh;
  }
  #bb_bottom {
    width: 97%;
    margin-left: 3vh;
    margin-top: 2.5vh;
    margin-bottom: 0vh;
  }

  /* CSS de la barre de recherche */
  #formsearchbar{
    display: inline-block;
    width: 65%;
    margin-right: 10vh;
  }
  #searchbar{
    width: 100%;
    border-radius: 20px;
    background-color: white;
    color: black;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    margin-top: 0vh;
    margin-left: 5vh;
  }

  .utextlink{
    color: white;
    font-weight: bold;
  }
  .textlink{
    color: white;
    margin-left: 13%;
    font-weight: bold;
    font-size: 20px;
  }
/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/


/*\\\\\ CSS du panneau déroulant \\\\\*/
.profil{
  display: inline-block;
  width: auto;
  height: auto;
  position: relative;
  top: -40px;
}
.navbar {
  position: absolute;
  padding: 0;
  margin: 0;
}
.navbar li {
  height: auto;
  width: 135.8px;
  float: left;
  text-align: center;
  list-style: none;
  font: normal bold 13px/1em Arial, Verdana, Helvetica;
  padding: 0;
  margin: 0;
}
.navbar a {
  padding: 18px 0;
  color: white;
  display: block;
}
.navbar li:hover, a:hover {
  background-image: url("../Images/backgroundBarre.jpg");
}
.navbar li ul {
  display: none;
  height: auto;
  margin: 0;
  padding: 0;
}
.navbar li:hover ul {
  display: block;
}
.navbar li ul li {
  background-image: url("../Images/backgroundBarre.jpg");
}
.navbar li ul li a {
  border-left: 1px solid #444444;
  border-right: 1px solid #444444;
  border-top: 1px solid #c9d4d8;
  border-bottom: 1px solid #444444;
}
.navbar li ul li a:hover {
  background-color: #a3a1a1;
}
/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/


/*\\\\\ CSS du body de la page d'accueil \\\\\*/
.corps{
  background-color: #d7d7d7;
  background-image: linear-gradient(247deg, #d7d7d7 0%, #353535 74%);
  background-size: cover;
  display: inline-block;
  min-width: 100%;
  margin: 0 auto -10px;
}

/* CSS des recettes du jour */
.recette_du_jour{
  padding: 2% 0;
  float:left;
  width: 50%;
}
.recette_du_jour .affichage{
  background-image: url("../Images/backgroundBarre.jpg");
  padding: 8px;
  width: 400px;
  border: 1px solid #888888;
  background-color: #4e4e4e;
  border-radius: 20px;
  margin: 5vh 5vh 5vh 20%;
  opacity: 0.9;
  text-align: center;
}
.recette_du_jour .image{
  padding: 8px;
  border-radius: 20px;
  width: 80%;
  margin-bottom: 1vh;
}
/*\\\\\\\\\\\\\\\\\\\\\\\\\\*/

/* CSS de la recette du moment */
.recette_du_moment{
  padding: 2% 0;
  float: left;
  justify-content: center;
  text-align: center;
}
.recette_du_moment .affichage{
  background-image: url("../Images/backgroundBarre.jpg");
  width: 700px;
  height: 700px;
  border: 1px solid #888888;
  background-color: #999999;
  border-radius: 15px;
  margin: 5vh;
  opacity: 0.95;
  justify-content: center;
  text-align: center;
}
.recette_du_moment .image{
  border-radius: 20px;
  width: 600px;
  height: auto;
  margin-bottom: 2vh;
}
.img_note{
  height: 30px;
  width:auto;
  position: relative;
  bottom: 8px;
}
/*\\\\\\\\\\\\\\\\\\\\\\\\\\*/

/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/

footer {
  height: 30px;
  background-image: url("../Images/backgroundBarre.jpg");
}

.textblanc{
  color: white;
}
