header {
    background-color: #333;
    color: #fff;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-image: url("../Images/backgroundBarre.jpg");
  }

body {
    position:relative;
    overflow:auto; 
  }
  
body {
    min-height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    }

    #logo, #imagefile {
        height: 70px;
        width: 70px;
      }
      #titre{
        justify-self: right;
        font-weight: bold;
      }
      
      .icon{
        height: 70px;
        width: 70px;
      }
      
      
      /*\\\\\ CSS du panneau déroulant \\\\\*/
      .profil{
        position: relative;
        top: -40px;
      }

     .image_profil{
    border-radius: 50%;
    height: 80px;
    width: 80px;
    margin-left: 5vh;
    margin-top: 0vh;
    vertical-align: middle;
  }
    
      .navbar {
        position: absolute;
        padding: 0;
        margin: 0;
      }
      .navbar li {
        height: auto;
        width: 135.8px;
        float: left;
        text-align: center;
        list-style: none;
        font: normal bold 13px/1em Arial, Verdana, Helvetica;
        padding: 0;
        margin: 0;
      }
      .navbar a {
        padding: 18px 0;
        color: white;
        display: block;
      }
      .navbar li:hover, a:hover {
        background-image: url("../Images/backgroundBarre.jpg");
        /*background-color: #444444;*/
      }
      .navbar li ul {
        display: none;
        height: auto;
        margin: 0;
        padding: 0;
      }
      .navbar li:hover ul {
        display: block;
      }
      .navbar li ul li {
        background-image: url("../Images/backgroundBarre.jpg");
      }
      .navbar li ul li a {
        border-left: 1px solid #444444;
        border-right: 1px solid #444444;
        border-top: 1px solid #c9d4d8;
        border-bottom: 1px solid #444444;
      }
      .navbar li ul li a:hover {
        background-color: #a3a1a1;
      }
      /*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/
    
      h1 {
        margin: 0;
      }
      
      #main {
        width: 900px;
        margin: 20px auto;
        background-color: #fff;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
        flex-grow: 1;
      }

      ul {
        list-style-type: disc;
        margin: 0;
        padding: 0;
        margin-left: 10px;
      }
      li {
        margin-bottom: 10px;
      }

      footer {
        background-image: url("../Images/backgroundBarre.jpg");
        height: 2rem;  
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      footer a {
        color: white;
      }

      #div_ing{
        overflow: hidden;
        border: black solid 1px;
        border-radius: 10px;
        padding: 2vh;
      }
