body {
  background-image: url('../Images/backgroundBarre.jpg');
  background-size: cover;
}


.login-container {
  margin: 0 auto;
  max-width: 500px;
  padding: 40px;
  background-color: #fff;
  border-radius: 10px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

label {
  display: block;
  margin-bottom: 5px;
  font-size: large;
  font-weight: bold;
}

input[type=text]::placeholder,
input[type=password]::placeholder {
  color: white;
}

input[type=text],
input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin-bottom: 30px;
  
  box-sizing: border-box;
  border: 2px solid #666;
  border-radius: 4px;
  background-color: #333;
  color: white;
}



button[type=submit] {
  background-color: #333;
  color: white;
  padding: 12px 20px;
  margin: 8px 0;
  border-color: grey;
  background-color: #2d2d2d;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  margin-right: 20px; 
}


button[type=submit]:hover {
  background-color: #45a049;
  transition: background-color 0.2s ease-in-out;
  margin-top: 20px;
}



input[type=text]::placeholder, input[type=password]::placeholder {
  color: white;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 20px;
  margin: 20px 0;
  box-sizing: border-box;
  border: 2px solid #666;
  border-radius: 10px;
  background-color: #333;
  color: white;
}


input[type=submit] {
  background-color: #333;
  color: white;
  padding: 12px 20px;
  margin: 8px 0;
  border-color: grey;
  background-color: #2d2d2d;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

input[type=submit]:hover {
  background-color: #45a049;
}

#image{
  text-align: center;
}
#logo{
  height: 150px;
  width: auto;
}
