body {
  background-image: url('backgroundBarre.jpg');
  background-size: cover;
}

.login-container {
  margin: 0 auto;
  max-width: 400px;
  padding: 20px;
  background-color: transparent;
  border-radius: 10px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type=text]::placeholder,
input[type=password]::placeholder {
  color: white;
}

input[type=text],
input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin-bottom: 30px;
  
  box-sizing: border-box;
  border: 2px solid #666;
  border-radius: 4px;
  background-color: #333;
  color: white;
}



button[type=submit] {
  background-color: #333;
  color: white;
  padding: 12px 20px;
  margin: 8px 0;
  border-color: grey;
  background-color: #2d2d2d;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  margin-right: 20px; 
}


button[type=submit]:hover {
  background-color: #45a049;
  transition: background-color 0.2s ease-in-out;
  margin-top: 20px;
}

.login-container img {
  display: block;
  margin: 50px auto;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-image: url("cooking.png");
  background-size: cover;
  background-position: center;
}


.frame {
  border: 1px solid grey;
  margin: 0 auto;
  max-width: 500px; 
  background-color: #333;
  padding: 80px; 
  border-radius: 10px;
  display: block;
  position: fixed; 
  bottom: 0;
  left: 50%; 
  transform: translateX(-40%); 
  height: calc(100% - 100px);
}


.avatar {
  display: block;
  margin: 50px auto 50px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-image: url("vatar.png");
  background-size: cover;
  background-position: center;
}

input[type=text]::placeholder, input[type=password]::placeholder {
  color: white;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 20px;
  margin: 20px 0;
  box-sizing: border-box;
  border: 2px solid #666;
  border-radius: 10px;
  background-color: #333;
  color: white;
}


input[type=submit] {
  background-color: #333;
  color: white;
  padding: 12px 20px;
  margin: 8px 0;
  border-color: grey;
  background-color: #2d2d2d;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

input[type=submit]:hover {
  background-color: #45a049;
}










