  body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
  }

  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  #logo {
    height: 70px;
    width: auto;
  }
 
  #profil_img{
    height: 70px;
    width: auto;
  }


  h1 {
    margin: 0;
  }
  #main {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  }
  #commentairediv{
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  }
  h2 {
    margin-top: 0;
  }
  ul {
    list-style-type: disc;
    margin: 0;
    padding: 0;
  }
  li {
    margin-bottom: 10px;
  }

  #temps{
      height: 45px;
      width: auto;
      margin-right: 10px;
  }
  #info
  {
    display: flex;
    margin-top: 20px;
    margin-bottom: 15px;
  }
  #img{
    height: 200px;
    width: auto;
    margin-bottom: 20px;
    padding:5px;
    border: solid #333 7px;
  }
  #imgdiv{
    display: flex;
    justify-content: center;
  }
  #img_prix{
    height: 50px; 
    width: auto;
    margin-left: 200px;
    margin-right: 10px;
  }
  #separation{
    height: 3vh;
    width: auto;
    background-color: #333;
  }

  #divprout{
    display: flex;
  }
  #casserole{
    height: 35px;
    width: auto;
    margin-right: 10px;
  }
  .data{
    color: red;
  }
  #personne{
    height:50px;
    width: auto;
    margin-right: 20px;
    position: relative;
    top: 15px;
  }
  .img_note{
    height: 30px;
    width:auto;
    position: relative;
    top: 8px;
  }
  #auteur{
    margin-left:7px;
    font-size: medium;
  }
  textarea{
    resize: none;
    width: 350px;
    height: 100px;
    border: 3px solid grey;
  }

  #comment{
    display: flex;
    margin-bottom: 15px;
  }
  #notation{
    position: relative;
    top: 20px;
    left: 75px;
  }
  #envoyer{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    width: 100px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    position: relative;
    top: 25px;
    left: 55px;
  }

  .comment_afficher{
    margin-bottom: 20px;
    margin-left: 40px;
  }

  #barre_commentaire{
    height: 4px;
    width: 90%;
    background-color: grey;
    margin-bottom: 20px;
    margin-left: 40px;
  }

  .profil_commentaire{
    height: 45px;
    width: auto;

  }

  .comment_text{
    margin-left: 20px;
    margin-top: 8px;
    font-style: italic;
    font-size: 95%;
  }

  .nom_comment{
    position: relative;
    left: 6px;
  }

  .note_comment{
    position: relative;
    top: -5px;
    
  }

  .info_comment{
    display: flex;
  }

  .info_comment2{
    display: flex;
    flex-direction: column;
  }

  .date_comment{
    font-size: small;
    color: grey;
  }
  #comment_select{
    display: flex;
    justify-content: space-between;
  }

