body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-image: url("../Images/backgroundBarre.jpg");
}

#logo {
  height: 70px;
  width: auto;
}

.icon {
  height: 70px;
  width: auto;
}

.image_profil {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}


/*\\\\\ CSS du panneau déroulant \\\\\*/
.profil {
  position: relative;
  top: -40px;
}
.navbar {
  position: absolute;
  padding: 0;
  margin: 0;
}
.navbar li {
  height: auto;
  width: 135.8px;
  float: left;
  text-align: center;
  list-style: none;
  font: normal bold 13px/1em Arial, Verdana, Helvetica;
  padding: 0;
  margin: 0;
}
.navbar a {
  padding: 18px 0;
  color: white;
  display: block;
}
.navbar li:hover,
a:hover {
  background-image: url("../Images/backgroundBarre.jpg");
  /*background-color: #444444;*/
}
.navbar li ul {
  display: none;
  height: auto;
  margin: 0;
  padding: 0;
}
.navbar li:hover ul {
  display: block;
}
.navbar li ul li {
  background-image: url("../Images/backgroundBarre.jpg");
}
.navbar li ul li a {
  border-left: 1px solid #444444;
  border-right: 1px solid #444444;
  border-top: 1px solid #c9d4d8;
  border-bottom: 1px solid #444444;
}
.navbar li ul li a:hover {
  background-color: #a3a1a1;
}
/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/

h1 {
  margin: 0;
}
#main {
  max-width: 800px;
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}
#commentairediv {
  max-width: 800px;
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}
h2 {
  margin-top: 0;
}
ul {
  list-style-type: disc;
  margin: 0;
  padding: 0;
}
li {
  margin-bottom: 10px;
}

#temps {
  height: 45px;
  width: auto;
  margin-right: 10px;
}
#info {
  display: flex;
  margin-top: 20px;
  margin-bottom: 15px;
}
#img {
  height: 200px;
  width: auto;
  margin-bottom: 20px;
  padding: 5px;
  border: solid #333 7px;
}
#imgdiv {
  display: flex;
  justify-content: center;
}
#img_prix {
  height: 50px;
  width: auto;
  margin-left: 200px;
  margin-right: 10px;
}
#separation {
  height: 3vh;
  width: auto;
  background-color: #333;
}

#divprout {
  display: flex;
}
#casserole {
  height: 35px;
  width: auto;
  margin-right: 10px;
}
.data {
  color: red;
}
#personne {
  height: 50px;
  width: auto;
  margin-right: 20px;
  position: relative;
  top: 15px;
}
.img_note {
  height: 30px;
  width: auto;
  position: relative;
  top: 8px;
}
#auteur {
  margin-left: 7px;
  font-size: medium;
}
textarea {
  resize: none;
  width: 350px;
  height: 100px;
  border: 3px solid grey;
}

#comment {
  display: flex;
  margin-bottom: 15px;
}
#notation {
  position: relative;
  top: 20px;
  left: 75px;
}
#envoyer {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  width: 100px;
  height: 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  position: relative;
  top: 25px;
  left: 55px;
}

.comment_afficher {
  margin-bottom: 20px;
  margin-left: 40px;
}

#barre_commentaire {
  height: 4px;
  width: 90%;
  background-color: grey;
  margin-bottom: 20px;
  margin-left: 40px;
}

.profil_commentaire {
  height: 55px;
  width: 55px;
  border-radius: 50%;
}

.comment_text {
  margin-left: 20px;
  margin-top: 8px;
  font-style: italic;
  font-size: 95%;
}

.nom_comment {
  position: relative;
  left: 6px;
}

.note_comment {
  position: relative;
  top: -5px;
}

.info_comment {
  display: flex;
}

.info_comment2 {
  display: flex;
  flex-direction: column;
}

.date_comment {
  font-size: small;
  color: grey;
}
#comment_select {
  display: flex;
  justify-content: space-between;
}

footer {
  height: 5vh;
  background-image: url("../Images/backgroundBarre.jpg");
  display: flex;
  justify-content: center;
  align-items: center;
}
footer a {
  color: white;
}

/*Bouton like*/

.like {
  cursor: pointer;
  height: 80px;
  width: 80px;
  background-image: url(Images/web_heart_animation.png);
  transform: translate(-50%, -50%);
  position: relative;
  top: 30px;
  left: 60px;
}
.anim-like {
  animation-name: anim-like;
  animation-duration: 0.8s;
  animation-timing-function: steps(28);
}
@keyframes anim-like {
  from {
    background-position: left;
  }
  to {
    background-position: right;
  }
}

.like.like-active {
  background-position: right;
}

/* css pr mettre le like à droite */

#entete {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* css liste ingrédient */

#liste_ing {
  margin-left: 20px;
}

#boutonRetour{
  position: absolute;
  left: 23%;
  display: flex;
  float: left;

  text-decoration: none;
  padding: 8px 16px;
  background-color: #f1f1f1;
  color: black;
  border: 1px black solid;

}
